body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edb4fc;
  font-family: "Sansation", sans-serif;
  font-weight: 500;
  font-style: normal;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: 'MyCustomFont';
  src: url('../public/fonts/cetrinn.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
